<li>
<p>
  <b>Name:</b>
  <%= "\<\%\= @review.get('name') \%\>".html_safe %>
</p>

<p>
  <b>Year:</b>
  <%= "\<\%\= @review.get('year') \%\>".html_safe %>
</p>

<p>
  <b>Review:</b>
  <%= "\<\%\= @review.get('review') \%\>".html_safe %>
</p>


<%= link_to 'Edit', "\<\%\= @review.get('edit_review_path') \%\>".html_safe %> |
<%= link_to 'Back', "\<\%\= @review.get('reviews_path') \%\>".html_safe%>
</li>
